@model TatBlog.WebApp.Areas.Admin.Models.TagFilterModel

<form asp-area="Admin"
      asp-controller="Tags"
      asp-action="Index"
      method="get"
      class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
        <label asp-for="Keyword" class="visually-hidden"></label>
        <input type="text"
               asp-for="Keyword"
               class="form-control"
               placeholder="Nhập từ khóa" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Tìm/Lọc</button>
        <a asp-area="Admin"
           asp-controller="Tags"
           asp-action="Index"
           class="btn btn-warning">
            Bỏ lọc
        </a>
        <a asp-area="Admin"
           asp-controller="Tags"
           asp-action="Edit"
           class="btn btn-success">
            Thêm mới
        </a>
    </div>
</form>