@model TatBlog.WebApp.Areas.Admin.Models.TagEditModel

@{
    ViewData["PageTitle"] = "Thêm/Cập nhật thẻ";
}

<h1>Thêm/Cập nhật thẻ</h1>
<div class="container">
    <div class="mb-3">
        <label class="form-label">Thêm/Cập nhật thẻ</label>
    </div>
<form asp-area="Admin"
      asp-controller="Tags"
      asp-action="Edit"
      enctype="multipart/form-data"
      method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="UrlSlug" class="form-label"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="UrlSlug" />
            <span asp-validation-for="UrlSlug" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <div class="col-sm-10">
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary px-5 py-2">
            Lưu
        </button>
        <a asp-area="Admin"
           asp-controller="Tags"
           asp-action="Index"
           class="btn btn-danger px-3 py-2">
            Hủy & quay lại
        </a>
    </div>
</form>
</div>
@section scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/lib/speakingurl/speakingurl.min.js"></script>

    <script>
        $(function () {
            $('#Name').change(function () {
                var slug = getSlug(this.value);
                $('#UrlSlug').val(slug).trigger('blur');
            });
        })
    </script>
}