<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>@ViewData["PageTitle"] - Tips and Tricks Blog</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/main.css" asp-append-version="true" rel="stylesheet" />
    @await RenderSectionAsync("style", required:false)
</head>
<body>
    <partial name="_Header" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                @RenderBody()
            </div>
            <div class="col-3 border-start">
                <partial name="_SideBar" />
            </div>
        </div>
    </div>
    <footer class="footer text-muted border-top">
        <div class="container-fluid text-center">
            &copy; 2023 - Tips & Tricks Blog
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
