@using TatBlog.WebApp.Components;
<h1>
    Tìm kiếm bài viết
</h1>

@await Component.InvokeAsync("CategoriesWidget")

<h1>
    Bài viết nổi bật
</h1>

<h1>
    Đăng ký nhận tin mới
</h1>

<h1>
    Tag cloud
</h1>