@model TatBlog.WebApp.Areas.Admin.Models.PostFilterModel
<form asp-action="Admin"
      asp-controller="Posts"
      asp-action="Index"
      method="get"
      class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
        <label class="visually-hidden" asp-for="Keyword"></label>
        <input type="text"
               class="form-control"
               asp-for="Keyword"
               placeholder="Nhập từ khóa tìm kiếm..." />
    </div>
    <div class="col-auto">
        <label class="visually-hidden" asp-for="AuthorId"></label>
        <select class="form-select"
                asp-for="AuthorId"
                asp-items="Model.AuthorList">
            <option value="" selected>-- Chọn tác giả --</option>
        </select>
    </div>
    <div class="col-auto">
        <label class="visually-hidden" asp-for="CategoryId"></label>
        <select class="form-select"
                asp-for="CategoryId"
                asp-items="Model.CategoryList">
            <option value="" selected>-- Chọn chủ đề --</option>
        </select>
    </div>
    <div class="col-auto">
        <label class="visually-hidden" asp-for="Year"></label>
        <input type="text"
               class="form-control"
               asp-for="Year"
               placeholder="Nhập năm..." />
    </div>
    <div class="col-auto">
        <label class="visually-hidden" asp-for="Month"></label>
        <select class="form-select"
                asp-for="Month"
                asp-items="Model.MonthList">
            <option value="" selected>-- Chọn tháng --</option>
        </select>
    </div>
    <div class="col-auto">
        <div class="form-check">
            <input class="form-check-input"
            type="checkbox"
            asp-for="UnPublished">
            <label class="form-check-label"
                   asp-for="UnPublished">
                Chưa xuất bản
            </label>
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Tìm/Lọc</button>
        <a asp-area="Admin"
           asp-controller="Posts"
           asp-action="Index"
           class="btn btn-info">
            Bỏ lọc
        </a>
        <a asp-area="Admin"
        asp-controller="Posts"
        asp-action="Edit"
        class="btn btn-success"
        >
            Thêm mới
        </a>
    </div>
</form>